.hero__title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  width: 696px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: $white-text-color;
}
.hero {
  max-width: 1600px;
  margin: 0 auto;
  padding: 200px 0;
  background-color: $footer-hero-color;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/main/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero__btn {
  display: block;
  padding: 10px 32px;
  margin: 0 auto;
  min-width: 216px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;

  color: $white-text-color;
  background-color: $accent-background-color;

  box-shadow: 0px 4px 4px $hero-btn-shadow;

  border-radius: 4px;

  border: none;

  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $white-text-color;
    background-color: $btn-accent-color;
  }
}